.env
.aws-sam
build.toml
model.tar.gz
.checksum
.checksums/
.build_checksum
.lib_checksum
.vscode/
.DS_Store
dist/
*.egg-info/
build/
__pycache__
*.code-workspace
.ruff_cache
__pycache__
**/cdk.out
**/.envrc
**/node_modules
**/.vite
frontend/public/aws-exports.json
.venv
scripts/zip-artifact/
public/
.mkdocs/public/

# Sensitive
**/serviceAccountKey.json
**/service-key*.json
**/.env
**/package-lock.json